<div class="product-card">
  <a href="{{ product.url }}">
    <img 
      src="{{ product.featured_image | img_url: 'medium' }}" 
      alt="{{ product.title }}" 
      width="{{ product.featured_image.width }}" 
      height="{{ product.featured_image.height }}">
    <h2>{{ product.title }}</h2>
    <p>{{ product.price | money }}</p>
  </a>
</div>
