<header>
  {% comment %} <h1>{{ settings.store_name }}</h1> {% endcomment %}
  <div class="header-container">
    <!-- Search Bar -->
    <div class="header-left">
      <form action="/search" method="get" class="search-bar">
        <input type="text" name="q" placeholder="Search products..." />
    
      </form>
    </div>

    <!-- Store Name -->
    <div class="header-center">
      <h1>{{ settings.store_name }}</h1>
    </div>

    <!-- Icons -->
    <div class="header-right">
      <a href="/account" title="Account">
        {{ 'account' | svg_icon }}
      </a>
      <a href="/cart" title="Cart">
        {{ 'cart' | svg_icon }}
      </a>
      <a href="/wishlist" title="Wishlist">
        {{ 'heart' | svg_icon }}
      </a>
    </div>
  </div>
  <nav>
    <ul class="nav-bar">
      <li><a href="/">Home</a></li>
      <li><a href="/collections">Shop</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/collections/rings">Rings</a></li>
      <li><a href="/collections/earrings">Earrings</a></li>
      <li><a href="/collections/pendants">Pendants</a></li>
      <li><a href="/collections/all-jewellery">All Jewellery</a></li>
      <li><a href="/collections/gifts">Gifts</a></li>
      <li><a href="/collections/gold-coins">Gold Coins</a></li>
      <li><a href="/collections/chains">Chains</a></li>
      <li><a href="/collections/ready-to-ship">Ready To Ship</a></li>
      <li><a href="/collections/10-plus-1-monthly-plan">10+1 Monthly Plan</a></li>
      <li><a href="/collections/locate-our-store">Locate Our Store</a></li>
    </ul>
  </nav>
</header>
