<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>


<div class="custom-header  bor-bottom ps-0">
  <div class="container flex-header">
    <!-- Right Section (Search Bar) -->
    <div class="right-search">
      <form action="/search" method="get">
        <input
          type="text"
          name="q"
          placeholder="{{ section.settings.search_placeholder }}">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>

    <!-- Middle Section (Logo) -->
    <div class="logo">
      <a href="{{ routes.root_url }}">
        {% if section.settings.logo != blank %}
          <img src="{{ section.settings.logo | img_url: 'medium' }}" alt="Logo">
        {% else %}
          <h1 class="shop_name">{{ shop.name }}</h1>
        {% endif %}
      </a>
    </div>

    <!-- Left Section (Icons) -->

    <div class="left-icons">
      {% if section.settings.show_wishlist_icon %}
        <a href="/wishlist">
          <i class="fa fa-heart"></i>
        </a>
      {% endif %}
      {% if section.settings.show_cart_icon %}
        <a href="/cart">
          <i class="fa fa-shopping-cart"></i>
        </a>
      {% endif %}
      {% if section.settings.show_user_icon %}
        <a href="/account">
          <i class="fa fa-user"></i>
        </a>
      {% endif %}

    </div>
  </div>
</div>

<div class="custom-header">
  <div class="container justofy-content-center">
    <nav class="navigation">
      <ul class="m-0 ps-0">
        {% for link in linklists.main-menu.links %}
          <li class="pd-5">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

  </div>
</div>

{% schema %}
  {
    "name": "Custom Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Upload Logo"
      },
      {
        "type": "text",
        "id": "shop_name",
        "label": "Shop Name",
        "default": "Your Shop Name"
      },
      {
        "type": "text",
        "id": "search_placeholder",
        "label": "Search Placeholder",
        "default": "Search products..."
      },
      {
        "type": "checkbox",
        "id": "show_cart_icon",
        "label": "Show Cart Icon",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_user_icon",
        "label": "Show User Icon",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_wishlist_icon",
        "label": "Show Wishlist Icon",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Custom Header",
        "category": "Header"
      }
    ]
  }
{% endschema %}
